* {
  text-align: center;
}
#contacte {
  padding:10px 0 0 10px;
  font-family: "Lobster Two", sans-serif;
  font-size: 3em;
}
label{
  font-family: "Raleway", sans-serif;

}

input{
  font-family: "Raleway", sans-serif;

}
fieldset {
  font-size:14px;
  font-family: arial;
  padding:5px;
  width:500px;
  line-height:1.8;
  margin: 0 auto;
  border-radius: 10px;
  border-style:none;
  background-color: #9DDAFA;
  margin-bottom: 10px;
}
.input {
  border-style:none;
  text-align:left;
  height:40px;
  width:200px;
  border-radius: 10px;
}

#button {
  border-style:solid;
  border-width:2px;
  border-radius: 10px;
  background-color:deepskyblue;
  color:black;
  height:40px;
  width:100px;
}
#button:hover {
  background-color:lightskyblue;
}
