@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    margin:0px;
    padding:0px;
}
/*DISSENY DEL MENU DESPLEGABLE*/
nav{
    width:100%;
    font-family:"Raleway", sans-serif;
    height: 40px;
    background-color: black;
}

.nav{
  float:right;
}

nav div h1{
  float:left;
  font-family: "Lobster Two", sans-serif;
  text-decoration: none;
  padding: 5px 0 0 5px;
}

ul, ol {
    list-style:none;
}

a:link {
  text-decoration: none;
  color: deepskyblue;
}

a:visited {
  text-decoration: none;
  color: deepskyblue;
}

a:hover {
  color:lightskyblue;
}

.nav > li {
  float:left;
}

.nav li a {
    background-color:black;
    color:white;
    text-decoration:none;
    padding:10px 50px 10px 50px;
    display:block;
}

.nav li a:hover {
    background-color:#434343;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:180px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
  width:250px;
  right:-250px;
  top:0px;
}

/*HEADER*/
header{
  width:100%;
  height:500px;
  background-image: url("../images/background-header.jpg");
  background-size: cover;
 }

 /*SECTION*/
 section{
   display:inline-block;
   float:left;
   width:85%;
 }

/*ARTICLE*/
article{
  margin: 10px 10px;
  font-family: "Raleway", sans-serif;
  font-size: 0.8em;
  width:40%;
}

#artprincipal{
  width:100%;
  height:300px;
}

#artprincipal h2{
  font-size: 2em;
}

#artprincipal img{
  float: left;
  margin: 5px 5px 5px 5px;
  width:300px;
}

#partprincipal{
  float: left;
  display:inline-block;
  font-size: 1.1em;
  width:65%;
  text-align: justify;
}

.artsecundari{
  display: inline-block;
  width: 46%;
  text-align: justify;
}

.artsecundari img{
  height:150px;
}

/*ASIDE*/
aside{
  display:inline-block;
  float:right;
  width:15%;
  margin-bottom: -5px;
}

/*FOOTER*/
footer{
  background-color:black;
  color:#fff;
  font-family:"Raleway", sans-serif;
  display: inline-block;
  width:100%;
}

#footerimg{
  display:inline-block;
  width:80px;
  float:left;
  margin:5px 5px 5px;
}

.footerp{
  float:left;
  font-size: 1em;
  font-weight: lighter;
  margin:8px 5px 5px;
}

.xarxes{
  display:inline-block;
  float:right;
  margin:5px 5px 5px;
  width:25px;
}

/*PERSONATGES*/
.personatges {
  height: 250px;
  background-image:url("../images/div.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Raleway", sans-serif;
}

.personatges img {
    float:left;
    height:250px;
    width:250px;
}

#personatges{
  padding:10px 0 0 10px;
  font-family: "Lobster Two", sans-serif;
  font-size: 3em;
}

.personatgesimg{
  padding: 10px;
  width: 100px;
}

div>h2{
  padding:10px 0 0 10px;
  font-family: "Raleway", sans-serif;
  font-size: 2.5em;
  color: lightskyblue;
}

h3{
  text-align: center;
  font-size: 1.75em;
  margin-top: 30px;
}
